{% extends 'base.html' %}
{% load static %}
{% block title %}Abdullahi Isse | SCHOOL {% endblock %}
<style>
    form input {
        background-color: white;
        border: 1px solid grey;
    }
</style>
{% block user1 %}<h5 class="item-title">{{user.first_name}}</h5><span>Admin</span> {% endblock %}
{% block user2 %}<h6 class="item-title">{{user}}</h6>{% endblock %}
{% block content %}

<div class="modal fade" id="updatingSubjectModel" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="updatingSubjectForm">


                <div class="modal-header">
                    <h4 class="modal-title">Wax Kaba Dalidda Maadada</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="updatingSubjectFormModalBody">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary waves-effect waves-light ">Save
                        changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="dashboard-content-one">
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>Maadooyinka Schoolka</h3>
        <ul>
            <li>
                <a href="/school-admin/">Home</a>
            </li>
            <li>Maadooyinka Admit Form</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->
    <!-- All Subjects Area Start Here -->
    <div class="row">
        <div class="col-4-xxxl col-12">
            <div class="card height-auto">
                <div class="card-body">
                    <div class="heading-layout1">
                        <div class="item-title">
                            <h3>Diiwangali Maadada</h3>

                        </div>
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                aria-expanded="false">...</a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                                <a class="dropdown-item" href="#"><i
                                        class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                <a class="dropdown-item" href="#"><i
                                        class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                            </div>
                        </div>
                    </div>
                    <form id="subjectRegForm" class="new-added-form">
                        <div class="row">
                            <div class="col-12-xxxl col-lg-12 col-12 form-group">
                                <label>Magaca Maadada</label>
                                <input name="subject-name" required type="text" class="form-control"
                                    placeholder="Subject Name">
                            </div>


                            <div class="col-lg-12 col-12 form-group">
                                <label>Faahfaahin</label>
                                <textarea class="textarea form-control" name="subject-info" id="form-message" cols="10"
                                    rows="9"></textarea>
                            </div>
                            <div class="col-12 form-group mg-t-8">
                                <button type="submit"
                                    class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                                <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-8-xxxl col-12">
            <div class="card height-auto">
                <div class="card-body">
                    <div class="heading-layout1">
                        <div class="item-title">
                            <h3>Xogta Maadooyinka</h3>
                        </div>
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                aria-expanded="false">...</a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                                <a class="dropdown-item" href="#"><i
                                        class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                <a class="dropdown-item" href="#"><i
                                        class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table" id="datatable-maadoyinka">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Magaca Maadada</th>
                                    <th>Faahfaahin</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- All Subjects Area End Here -->
    <!-- <footer class="footer-wrap-layout1">
        <div class="copyright">© Copyrights <a href="#">akkhor</a> 2019. All rights reserved. Designed by <a
                href="#">PsdBosS</a></div>
    </footer> -->
</div>
</div>

<script>
    let datatableMaadoyinka = new DataTable('#datatable-maadoyinka', {
        // options
    });

    $(document).ready(function () {
        getSubjects()
    })
    document.getElementById('subjectRegForm').addEventListener('submit', function (e) {
        e.preventDefault()
        subjectName = $('[name=subject-name]').val();
        desc = $('[name=subject-info]').val();
        $.ajax({
            method: 'POST',
            url: '/api/subject-create/',
            headers: { 'X-CSRFToken': getCookie('csrftoken'), 'Content-type': "application/json" },
            data: JSON.stringify({
                'name': subjectName,
                'desc': desc,
            }),
            success: function (subjectResp) {
                if (subjectResp.status == 'success') {
                    swal("Maadada Waad Diiwaangalisay", {
                        icon: "success"
                    });
                    document.getElementById("subjectRegForm").reset();
                    location.reload()
                }
            }
        })
    })

    function getSubjects() {
        fetch('/api/subject-list/').then((resp) => resp.json()).then(function (subjectsResp) {
            for (var subject of subjectsResp) {
                datatableMaadoyinka.row.add([
                    subject.id.toString(),
                    subject.name,
                    subject.desc,
                    `  <i class="fas fa-pen text-dark-pastel-green" onclick='subjectsUpdate(${subject.id})' ></i>&nbsp&nbsp&nbsp <i onclick='delSubj(${subject.id})' class="fas fa-trash text-orange-red"></i>`
                ]).draw()
            }
        })
    }

    async function subjectsUpdate(id) {
        fetch('/api/subject-detail/' + id + '/').then((resp) => resp.json()).then(async function (thisSubjectResp) {
            document.getElementById('updatingSubjectFormModalBody').innerHTML = `
            <div class="row">
                <div class="col-12-xxxl col-lg-12 col-12 form-group">
                    <label>Magaca Maadada</label>
                    <input name="subject-name" required type="text" class="form-control" value='${thisSubjectResp.name}' placeholder="Subject Name" >
                </div>
                

                <div class="col-lg-12 col-12 form-group">
                    <label>Faahfaahin</label>
                    <textarea class="textarea form-control" name="subject-info"  id="form-message"
                        cols="10" rows="9">${thisSubjectResp.desc}</textarea>
                </div>
             
            </div>
            `
        })
        $('#updatingSubjectModel').modal('show');
        document.getElementById('updatingSubjectForm').addEventListener('submit', function (e) {
            e.preventDefault()
            subjectName = $('[name=subject-name]').val();
            desc = $('[name=subject-info]').val();
            $.ajax({
                method: 'POST',
                url: '/api/subject-update/'+id+'/',
                headers: { 'X-CSRFToken': getCookie('csrftoken'), 'Content-type': "application/json" },
                data: JSON.stringify({
                    'name': subjectName,
                    'desc': desc,
                }),
                success: function (subjectResp) {
                    if (subjectResp.status == 'success') {
                        swal("Maadada Waad SaveGreysay", {
                            icon: "success"
                        });
                        document.getElementById("updatingSubjectForm").reset();
                        location.reload()
                    }
                }
            })

        })


    }
</script>
<!-- <td> <i style="color:blue;"  class="feather icon-edit bg-c-blue">&nbsp&nbsp&nbsp</i><i style="color:red;" class="feather icon-trash del_lab"></td> -->
{% endblock %}